
<section class="about">
<div class="shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-4 profile wow fadeInLeft" data-wow-duration="2s">
        <img src="../../assets/images/profile1.jpg">
      </div>
      <div class="col-md-8 wow fadeInRight" data-wow-duration="2s">
        <h1 class="text-center">Mohamed Khaled Mohamed</h1>
        <h3 class="text-center">Front-End Web Developer</h3>
        <hr>
        <p>I'm Mohamed Khaled Front-End Developer graduated from Shoubra Faculity of Engineering I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences. Let's make something special</p>

        <h2>My Skills </h2>
        <ul>
          <li><img src="../../assets/images/logo/html.png" width="100" height="100"></li>
          <li><img src="../../assets/images/logo/CSS3.png" width="100" height="100"></li>
          <li><img src="../../assets/images/logo/Bootstrap.png" width="100" height="100"></li>
          <li><img src="../../assets/images/logo/Angular.png" width="100" height="100"></li>
          <li><img src="../../assets/images/logo/php.png" width="100" height="100"></li>
          <li><img src="../../assets/images/logo/MySQL.png" width="100" height="100"></li>
        </ul>

        <div class="buttons">
            <a routerLink="/projects"> <button type="button" class="btn btn-lg btn-primary" >See My Projects <i class="fa fa-angle-right "></i> </button> </a>
            <a routerLink="/contact"> <button type="button" class="btn btn-lg btn-primary" >Contact me <i class="fa fa-angle-right "></i> </button> </a>
            </div>
      </div>
    </div>
  </div>
</div>
</section>


