<section class="contact text-center ">
  <div class="shadow">
    <div class="wow fadeInRight" data-wow-duration="2s">
    <h1>OK, Let’s Create Something Great</h1>
    <p>
        If you like my work and have some cool project to work on, just send me direct message or contact me through social sites listed below.
    </p>

    <div class="buttons">
        <a href="mailto:m.khaled1499@gmail.com"> <button type="button" class="btn btn-lg btn-primary" >Get In Touch <i class="fa fa-angle-right "></i> </button> </a>
        </div>
</div>
  </div>
  </section>