<section class="welcome text-center" >
  <div class="shadow">
    <div class="wow fadeInLeft" data-wow-duration="2s">
  <h1>Welcome In My Portfolio</h1>
  <p>Bring Your Dream To Life</p>
  <div class="buttons">
     <a routerLink="/projects"> <button type="button" class="btn btn-lg btn-primary" >See My Projects <i class="fa fa-angle-right "></i> </button> </a>
     <a routerLink="/about"> <button type="button" class="btn btn-lg btn-primary" >Who Am I <i class="fa fa-angle-right "></i> </button> </a>
  </div>
</div>
 </div>
</section>
