.welcome{
        min-height: 80vh;
        background-image: url("../../assets/images/background.jpg");
        color: cornsilk;  
        background-size: cover
         
}
.shadow{
    padding-top: 30vh;
    height: 100%;
    min-height: 80vh;
    background :rgba(3,3,3,0.5); 
}

button{
    background-color: transparent ; 
    margin : 20px ; 
    border:2px solid teal ;  
}
button:hover , button:active , button:focus , button:visited{
    background-color: teal !important;
    border:2px solid cornsilk !important;
}